.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.yellowBlob {
  display: block;
  margin-left: auto;
  margin-bottom: auto;
}

.blueBlob {
  display: block;
  margin-right: auto;
  margin-top: auto;
}

.container>h2 {
  margin-top: 7px;
  font-size: 32px;
  font-weight: 700;
  color: #293264;

}

.container>p {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  color: #293264;

}

.container>a {
  margin-top: 30px;
  border-radius: 7.5px;
  background-color: #4D5B9E;
  padding: 10px 30px 10px 30px;
  color: #F5F7FB;
  text-decoration: none;
}